@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Regular.ttf');
    src: local('Nunito Regualr'), local('Nunito-Reqular'),
        url('Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('Nunito-Bold.ttf');
    src: url('Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
